.DS_Store
.env
.yarn/
*.tgz
*/.DS_Store
package-lock.json
npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-lock.yaml
auth_info*.json
baileys_auth_info*
baileys_store*.json
bailis_auth_info*
bailis_store*.json
browser-messages.json
browser-token.json
decoded-ws.json
docs
lib
messages*.json
node_modules
output.csv
Proxy
test.ts
TestData
wa-logs*
coverage
